<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autors</title>
</head>
<body>
  
<form method="post">
    <input type="text" name="id" id="id" placeholder="vārds"><br>
    <textarea rows="10" cols="45" name="article" id="article"  placeholder="pilns teksts"></textarea><br>
    <input type="submit" value="Sūtit"><br>    
</form>

  <a href="/"><div class="button1"><i class="fas fa-bullseye"></i>Atgriezties uz sākumlapu</div></a>
</body>
</html>