<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="static/style.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sajaukto burtu spēle</title>
  </head>
  <body>
    <div class = "wrapper">
    <h1>Burtu spēle</h1>
  
  <ul>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">    
    <li><a href="/spele"><div class="button1"><i class="fas fa-bullseye"></i> spele</div></a></li>
    <li><a href="/tops"><div class="button1"><i class="fas fa-american-sign-language-interpreting" aria-hidden="true"></i> tops</div></a></li>
    <li><a href="/noteikumi"><div class="button1"><i class="fas fa-book"></i> noteikumi</div></a></li>
    <li><a href="/par"><div class="button1"><i class="fas fa-users"></i>par</div></a></li>
<!--     <li><a href="/atsauksmes"><div class="button1"><i class="fas fa-bullseye"></i>Uzraksties atsaukumu</div></a></li> -->
</ul>
      
<p>Sajaukto burtu spēle palīdzēs Tev attīstīt lasītprasmi un uzmanību, kā arī palielināt vārdu krājumu.
<br>Lai motivētu skolēnus piedalīties spēlē, tajā ir iekļauti draudzīgas sacensības elementi, kā piemēram, labāko spēlētāju tops.</p>
</div>
<div class="autors">&copy; A.Pučkovs <br>Rīga 2023</div>
</body>
</html>
