<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noteikumi</title>
</head>
<body>
  <h1>Spēles noteikumi</h1>
   <p>
     Šī ir ātruma un reakcijas spēle, jo vairāk vārdu jūs uzrakstīsiet 1 minūtes laikā, jo vairāk punktu iegūsiet.
      <br />
     
      <a href="/"><div class="button1"><i class="fas fa-bullseye"></i>Atgriezties uz sākumlapu</div></a>
</body>
</html>